.custom-button {
    background-color: $primary-color;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }