.footer-text {
    margin: 15px;
    color: #418ACA;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
  }