  .logo-container {
    padding: auto;
    margin: 50px
  }
  
  .logo {
    width: 250px; 
    height: auto;
  }
  
  .terms-content {
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
    line-height: 2;
  }
  
  .titulo {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .back-button-container {
    background-color: #179cdf;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 250px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 810px;
    margin-bottom: 50px;
    margin-top: 30px;
    
  }
  