.terms-top-logo {
  padding-top: 250px;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.logo-terms {
  width: 350px;
  height: auto;
}

.terms-content {
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
  line-height: 2;
}

.terms-titulo {
  margin-bottom: 25px;
  text-align: center;
}

.button-terms {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.button-container-back {
  color: #ffffff;
  background-color: #418ACA;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  width: 250px;
  border-radius: 25px;
}
