.terms-container {
    background-color: #F5F7FB;
    padding: 20px;
  }
  
  .logo-container {
    text-align: center;
  }
  
  .terms-content {
    margin-top: 20px;
  }
  
  .back-button-container {
    text-align: center;
    margin-top: 20px;
  }
  