.ivling-interface {
  display: flex;
}

.left-panel-wrapper,
.right-panel-wrapper {
  padding: 20px;
}

.white-rectangle video {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.gray-rectangle {
  background-color: #ccc;
}

.video-thumbnail {
  margin-bottom: 10px;
}

.delete-button,
.upload-button {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.dropdown-and-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  width: 250px;
}

.dropdown {
  padding-left: 10px;
}

.dropdown-words {
  width: 250px;
  padding: 5px;
}

.button-container {
  display: flex;
  gap: 10px;
  padding-left: 415px;
}

.ivling-action-buttons {
  background-color: #418ACA;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  width: 75px;
  border: none;
}

.upload-button {
  background-color: #0000ff;
}

.right-panel-wrapper {
  background-color: #ffffff;
  border-radius: 46px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail-actions button {
  margin-right: 5px;
}

.left-panel-wrapper {
  background-color: #ffffff;
  border-radius: 46px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 1280px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.dropdown-container {
  display: flex;
  align-items: center;
  padding-left: 85px;
}

.word-count-box {
  background-color: #e9e9ed;
  padding: 5px;
  border-radius: 5px;
  padding-left: 25px;
  border: 1px solid #A8A8AF;
}

.word-count {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
